/*==================
    Portfolio Area
==================*/

body {
    margin: 0;
    transition: 0.3s all;

    h1 {
        font-size: 2em;
        text-align: center;
        margin-top: 30%;
    }
}

//section {
//    min-height: 100vh;
//    height: 100%;
//}

section:first-of-type {
    height: 0;
    min-height: 0;
}

h1 {
    margin: 15rem;
}

.lightPink {
    background-color: #FFF2F0;
}

.paleGreen {
    background-color: #e5f3ee;
}

.darkGrayLight {
    background-color: #848484;
    display: flex;
    justify-content: center;
}

.lightGray {
    background-color: #EBEBEB;
}

.aquamarine {
    background-color: #68EDC6;
}

.electricBlue {
    background-color: #90F3FF;
}

.btn-row {
    position: relative;
    &:before {
        position: absolute;
        content: "";
        width: 56px;
        height: 1px;
        background: #dfdfdf;
        top: 47px;
        left: -68px;
    }
    button {
        background: none;
        border: none;
        font-size: 12px;
        padding: 0;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.7px;
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 40px;
        color: white;


        &:focus {
            outline: none;
        }
        .arrow-icon {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #007fff;
            height: 48px;
            width: 48px;
            border-radius: 100px;
            margin-left: 16px;
            left: 64px;
            transform-origin: center center;
        }
    }
}

.color-black .mainmenunav ul.mainmenu>li>a {
    color: $white !important;
}

.smallContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    position: relative;
}

.defaultTopMargin {
    margin-top: $marginHalfLarge;
}

.fullWidth {

    .video-react-controls-enabled .video-react-video {
        max-width: 100%!important;
        min-width: 100%;
        height: 100%;
    }
}

.projectsWrapper {
    display: flex;
    justify-content: center;
    margin-top: 200px;

    @media #{$sm-layout} {
        display: initial;
    }

    .project-container {

        .project-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 220px;

            @media #{$sm-layout} {
                padding: 0;
            }

        }

        .splitshow-right {
            margin-top: 200px;
        }

        .content-wrapper {
            margin-top: 30px;

            p.project-type {
                font-size: 14px;
                opacity: .6;
                margin-bottom: 0;
            }
        }

        .project-item {
            overflow: hidden;
            flex: 1;
            min-width: 40%;
            margin-bottom: 200px;

            h4 {
                font-size: 40px;
            }

            .project-itemLink {
                background-color: white;
                cursor: pointer;
                display: block;
                overflow: hidden;

                &:hover {
                    -webkit-transform: scale(.97);
                    -moz-transform: scale(.97);
                    -ms-transform: scale(.97);
                    -o-transform: scale(.97);
                    transform: scale(.97);
                    box-shadow: 0px -4px 22px -9px rgba(0,0,0,0.2);
                }

                .thumbnail {

                    img {
                        -webkit-transition: -webkit-transform .4s;
                        transition: -webkit-transform .4s;
                        -o-transition: -o-transform .4s;
                        -moz-transition: transform .4s, -moz-transform .4s;
                        transition: transform .4s;
                        transition: transform .4s, -webkit-transform .4s, -moz-transform .4s, -o-transform .4s;
                    }
                }

                &:hover {
                    opacity: 1;

                    .thumbnail img {
                        -webkit-transform: scale(.97);
                        -moz-transform: scale(.97);
                        -ms-transform: scale(.97);
                        -o-transform: scale(.97);
                        transform: scale(.97);
                    }
                }
            }

            .video-react {
                display: block;
                padding-top: 0!important;
                height: 100%;

                .video-react-video {
                    height: 100%;
                    max-height: 600px;
                    max-width: 100%;
                }
            }
        }
    }
}

.video-smaller {
    min-width: 450px!important;
}

.portfolio-details {

    .col-lg-12 {
        display: flex;
        flex-wrap: wrap;

        .roleWrapper {
            display: flex;
            flex-direction: column;
            margin: $marginDefaultBig 0;
        }
    }

    .video-react-controls-enabled {

        .video-react-video {
            width: 900px !important;
            -webkit-box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.2);
        }
    }

    .justify-content-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        display: flex;
    }
}

.hex {
    position: absolute;
    z-index: -1;
    right: 80px;
}

.images-column-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media #{$sm-layout} {
        flex-direction: initial;
        align-items: initial;
    }

    .smaller-image {
        max-width: 900px;

        @media #{$sm-layout} {
            max-width: 100%;
        }
    }

    .video-react-controls-enabled {
        display: flex;
        justify-content: center;
        padding-top: 0;
        height: 700px;

        .video-react-video {
            width: 700px !important;

            @media #{$sm2-layout} {
                width: 400px !important;
            }
        }
    }

    .shapeTop {
        position: absolute;
        top: 200px;
        width: 600px;
        left: 79px;
        z-index: -1;
    }
}

.images-column-2 {

    .out-flow-right {

        @media #{$sm-layout} {
            position: initial;
        }
    }

    .smaller-image {
        max-width: 400px;

        @media #{$sm-layout} {
            max-width: 100%;
            transform: none !important;
        }
    }
}

.video {

    .video-react-controls-enabled .video-react-video {
        max-width: 600px!important;

        @media #{$sm-layout} {
            max-width: 100%!important;
            padding-top: 0!important;
        }
    }
}


.rn-portfolio-details {

    .portfolio-details {

        .container-inner {
            max-width: 1200px;
            margin: 0 auto;
            padding-top: $marginLarge;
            padding-bottom: $marginLarge;
            display: flex;
            min-height:100vh;
            align-items: center;

            .leftSide {
                @media #{$mdb-layout} {
                    margin-left: 80px;
                }
            }

            @media #{$sm2-layout} {
                min-height:100%;
                padding-top: $marginHalfLarge;
                align-items: initial;
            }

            &.topVideo {
                position: absolute;
                top: 120px;
            }

            p {
                font-size: 1.5em;
                line-height: 38px;
            }

            .col-lg-12 {
                display: flex;

                .rightSide {
                    margin-bottom: 50px;
                }

                .hero-content-line {
                    margin: 0;
                    overflow: hidden;
                }

                .roleWrapper {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: $marginDefaultBig;
                }

            }

            span {
                font-size: 28px;
                text-transform: uppercase;
                white-space: break-spaces;
            }

            .role {
                font-size: 20px;
                text-transform: initial;
                line-height: 40px;
            }

            .col-6 {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.detailsTitle {
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.4;
    font-size: $font-small;
}

.role {
    font-size: $font-bigger;
    text-transform: initial;
    line-height: 35px;
}

.portfolio {
    position: relative;
    @extend %transition;
    min-height: 600px;
    width: 100%;
    padding-top: 35%;

    @media #{$laptop-device} {
        min-height: 700px;
    }
    @media #{$lg-layout} {
        min-height: 700px;
    }
    @media #{$md-layout} {
        min-height: 450px;
    }
    @media #{$sm-layout} {
        min-height: 400px;
    }

    div {
        white-space: pre-wrap;
    }

    .thumbnail-inner{
        transition: transform .28s ease;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
    }


    .content {

        .content-wrapper {
            margin-top: $marginDefaultBig;
            width: 100%;

            .inner {
                p {
                    color: #c6c9d8;
                    font-size: 14px;
                }

                h4 {
                    font-size: $font-title;
                    line-height: $font-titleHeight;
                    text-transform: uppercase;

                    a {
                        color: $white;
                    }
                }

                .portfolio-button {
                    @extend %transition;
                    margin-top: 35px;
                    transition: 0.7s;
                    @media #{$large-mobile} {
                        margin-top: 25px;
                    }

                    a {
                        &.rn-btn {
                            color: $white;
                            border-color: rgba(255, 255, 255, 0.3);

                            &:hover {
                                border-color: $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }

    &.text-center {
        .content {
            position: absolute;
            bottom: 40px;
            left: 40px;
            max-width: 80% !important;
            z-index: 10;
            padding: 0;
            right: 40px;
            margin: 0 auto;
            @media #{$lg-layout} {
                left: 20px;
                right: 20px;
            }
            @media #{$md-layout} {
                left: 15px;
                right: 15px;
            }
            @media #{$sm-layout} {
                left: 10px;
                right: 10px;
            }
        }
    }
    &:hover{
        .thumbnail-inner{

            &::before{
                opacity: 0.85;
            }
        }
        .thumbnail {
            transform: scale(1) translateZ(0);
            &::after{
                -webkit-transform: scale(.97);
                -moz-transform: scale(.97);
                -ms-transform: scale(.97);
                -o-transform: scale(.97);
                transform: scale(.97);
            }
        }
        .bg-blr-image{
            opacity: 0;
            z-index: 9;
        }

    }
    &.portfolio-style--2{
        .inner{
            margin: 0 20px;
        }
    }
}

.details-banner {
    min-height: 100vh;
    padding-left: calc(var(--cel, 3vw) * 3);
    display: flex;
    position: relative;
    flex-wrap: wrap;

    @media #{$sm-layout} {
        padding-left: 5px;
    }
}

.introImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-boxShadow {
        width: 500px;
        height: 500px;
        position: relative;

        @media #{$sm-layout} {
            margin-top: 10px;
            width: 400px;
            height: 400px;
        }

        .video-react-controls-enabled .video-react-video {
            width: 500px;
            height: auto;
            display: flex;

            @media #{$sm-layout} {
                width: 400px;
            }
        }
    }
}

.container-inner {
    padding-top: $marginLarge;
    padding-bottom: 0;
    width: 100%;

    @media #{$sm-layout} {
        padding-top: 0px;
    }

    h2 {
        font-weight: 500;
        font-size: 4.2em;
        line-height: 80px;
        margin-bottom: 40px;

        @media #{$sm-layout} {
            font-size: 3.5em;
        }
    }
}

.leftDescription {
    margin-right: $marginDefaultBig;
}

.video-react-controls-enabled {
    top: -150px;
    padding-top: 0!important;

    @media #{$sm2-layout} {
        padding-top: $marginLarge !important;
    }

    [type=button],
    .video-react-control-bar {
        display: none;
    }

    .video-react-video {
        z-index: 1;
        top: 0;
        object-fit: cover;
        padding-top: 0!important;
    }
}

//Video Home Page Size

.home-video-intro {

    .video-react-controls-enabled {

        .video-react-video {
            min-width: 1000px !important;
        }
    }

}


.thumbnail{
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: transform .28s ease;
    z-index: 4;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: ' ';
        z-index: 1;
        display: block;
        border-radius: 5px;
        @extend %transition;
    }
}

.portfolio-related-work {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;

    h2 {
        text-transform: uppercase;
        font-weight: 300;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        margin-right: 20px;
        font-size: 18px;
    }

    .thumb {
        position: relative;

        .imageRelated {

            &:before {
                content: '';
                background: #00010c;
                opacity: .7;
                height: 100%;
                width: 80%;
                position: absolute;
            }

            img {
                max-height: 400px;
                max-width: 80%;
                object-fit: cover;
            }
        }
    }

    .case-wrapper:hover {
        
        .case-title {

            &:before {
                -webkit-transform: scaleX(0);
                -moz-transform: scaleX(0);
                -ms-transform: scaleX(0);
                -o-transform: scaleX(0);
                transform: scaleX(0);
            }
        }
    }

    .case-title {
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background: currentColor;
            -webkit-transition: -webkit-transform .5s cubic-bezier(.4, .22, .21, 1.04);
            transition: -webkit-transform .5s cubic-bezier(.4, .22, .21, 1.04);
            -o-transition: -o-transform .5s cubic-bezier(.4, .22, .21, 1.04);
            -moz-transition: transform .5s cubic-bezier(.4, .22, .21, 1.04), -moz-transform .5s cubic-bezier(.4, .22, .21, 1.04);
            transition: transform .5s cubic-bezier(.4, .22, .21, 1.04);
            transition: transform .5s cubic-bezier(.4, .22, .21, 1.04), -webkit-transform .5s cubic-bezier(.4, .22, .21, 1.04), -moz-transform .5s cubic-bezier(.4, .22, .21, 1.04), -o-transform .5s cubic-bezier(.4, .22, .21, 1.04);
        }
    }
}

.portfolio-sacousel-inner ,
.rn-slick-dot {
    .slick-dots {
        bottom: -60px;
        @media #{$large-mobile} {
            bottom: -50px;
        }
        li{
            width: 30px;
            margin: 0;
            opacity: .35;
            position: relative;

            button{
                &::before{
                    display: none;
                }
                &::after{
                    background: #333;
                    width: 100%;
                    display: block;
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    @extend %transition;
                    border-radius: 50%;
                    margin-left: 11px;
                    background-color: transparent;
                    box-shadow: inset 0 0 0 5px #000;
                }
            }
            &.slick-active{
                opacity: 1;
                button{
                    &::after{
                        -webkit-transform: scale(2);
                        transform: scale(2);
                        box-shadow: inset 0 0 0 1px $theme-color;
                        background-color: transparent;
                        background-color: transparent!important;
                    }
                }
            }
        }
    }
    // Dot Light
    &.dot-light {
        .slick-dots {
            li{
                button {
                    &::after {
                        background: #ffffff;
                        box-shadow: inset 0 0 0 5px #ffffff;
                    }
                }
                &.slick-active{
                    opacity: 1;
                    button{
                        &::after{
                            -webkit-transform: scale(2);
                            transform: scale(2);
                            box-shadow: inset 0 0 0 1px $theme-color;
                            background-color: transparent;
                            background-color: transparent!important;
                        }
                    }
                }
            }
        }
    }
}

/* Slick Arrow Button  */

.portfolio-slick-activation{
    position: relative;
    button {
        &.slick-arrow {
            position: absolute;
            z-index: 3;
            background: transparent;
            font-size: 20px;
            width: 253px;
            height: 101%;

            @media #{$lg-layout} {
                width: 136px;
            }

            @media #{$md-layout} {
                width: 100px;
            }

            @media #{$sm-layout} {
                width: 100px;
                display: none !important;
            }

            &::before {
                line-height: 1;
                opacity: 0.75;
                font-size: 30px;
                position: relative;
                top: -14px;
                transition: 0.5s;
            }
            &.slick-prev{
                left: 0;
                background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
                &::before{
                    content: url(/assets/images/icons/slick-arrow-left.png);
                }
                @media #{$md-layout} {
                    display: none !important;
                }
                @media #{$lg-layout} {
                    display: none !important;
                }
                @media #{$laptop-device} {
                    display: none !important;
                }

            }
            &.slick-next{
                right: 0;
                background: -moz-linear-gradient(right,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                background: linear-gradient(to left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
                &::before{
                    content: url(/assets/images/icons/slick-arrow-right.png);
                }
                @media #{$md-layout} {
                    display: none !important;
                }
                @media #{$lg-layout} {
                    display: none !important;
                }
                @media #{$laptop-device} {
                    display: none !important;
                }
            }


            &:hover{
                &.slick-prev{
                    padding-right: 50px;

                    @media #{$md-layout} {
                        padding-right: 10px;
                    }
                    @media #{$sm-layout} {
                        padding-right: 10px;
                    }
                }
                &.slick-next {
                    padding-left: 50px;
                    @media #{$md-layout} {
                        padding-right: 10px;
                    }
                    @media #{$sm-layout} {
                        padding-right: 10px;
                    }
                }
                &::before{
                    opacity: 1;
                }
            }


        }
    }
}





