/*==================
    Portfolio Area
==================*/

body {
    margin: 0;

    h1 {
        font-size: 2em;
        text-align: center;
        margin-top: 30%;
    }
}

.btn-row {
    position: relative;
    &:before {
        position: absolute;
        content: "";
        width: 56px;
        height: 1px;
        background: #dfdfdf;
        top: 47px;
        left: -68px;
    }
    button {
        background: none;
        border: none;
        font-size: 12px;
        padding: 0;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.7px;
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 40px;
        color: white;


        &:focus {
            outline: none;
        }
        .arrow-icon {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #007fff;
            height: 48px;
            width: 48px;
            border-radius: 100px;
            margin-left: 16px;
            left: 64px;
            transform-origin: center center;
        }
    }
}

.color-black .mainmenunav ul.mainmenu>li>a {
    color: $white !important;
}

.defaultTopMargin {
    margin-top: $marginHalfLarge;
}

.projectsWrapper {

    .col-12 {
        max-height: 660px;
        overflow: hidden;

        .video-react,
        .video-react-big-play-button,
        .video-react-control-bar {
            display: none;
        }

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6) {

            .thumbnail {
                background-color: transparent;
                background-image: none;
            }

            .video-react {
                display: block;
                position: relative;
                padding-top: 0;
                height: 100%;

                .video-react-video {
                    max-height: 660px;
                    width: 100%;
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
}

.portfolio-details {

    .col-lg-12 {
        display: flex;

        .roleWrapper {
            display: flex;
            flex-direction: column;
            margin-top: $marginDefaultBig;
        }
    }
}

.rn-portfolio-details {

    .portfolio-details {

        .container-inner {
            max-width: 1060px;
            margin: 0 auto;
            padding-top: $marginLarge;
            padding-bottom: $marginLarge;
            display: flex;

            &.topVideo {
                position: absolute;
                top: 120px;
            }

            p {
                font-size: $font-xBig;
                line-height: $font-title;
            }

            .col-lg-12 {
                display: flex;

                .hero-content-line {
                    margin: 0;
                    overflow: hidden;
                }

                .roleWrapper {
                    display: flex;
                    flex-direction: column;
                    margin-top: $marginDefaultBig;
                }

                .detailsTitle-white {
                    opacity: 0.4;
                    font-size: $font-small;
                }
            }


            .detailsTitle {
                font-weight: 600;
                text-transform: uppercase;
            }


            span {
                font-size: 28px;
                text-transform: uppercase;
                white-space: break-spaces;
            }

            .role {
                font-size: $font-bigger;
                text-transform: initial;
                line-height: 35px;
            }

            .col-6 {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.portfolio {
    position: relative;
    @extend %transition;
    min-height: 600px;
    width: 100%;
    padding-top: 35%;

    @media #{$laptop-device} {
        min-height: 700px;
    }
    @media #{$lg-layout} {
        min-height: 700px;
    }
    @media #{$md-layout} {
        min-height: 450px;
    }
    @media #{$sm-layout} {
        min-height: 400px;
    }

    div {
        white-space: pre-wrap;
    }

    .thumbnail-inner{
        transition: transform .28s ease;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        border-radius: 5px;
        cursor: pointer;

        &::before{
            background-image: linear-gradient($brandGreen -40%, transparent 100%);
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height : 100%;
            z-index: 5;
            opacity: 0;
            @extend %transition;
        }
    }

    .bg-blr-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-color: #0a0a0a;
        background-image: url(/assets/images/portfolio/portfolio-1.jpg);
        @extend %transition;
        transform: translateY(38px);
        opacity: 0;
        z-index: 1;

        &.image-1{
            background-image: url(/assets/images/portfolio/conversationsFeatureImage.png);
        }
        &.image-2{
            background-image: url(/assets/images/portfolio/portfolio-2.jpg);
        }
        &.image-3{
            background-image: url(/assets/images/portfolio/portfolio-1.jpg);
        }
        &.image-4 {
            background-image: url(/assets/images/portfolio/portfolio-1.jpg);
        }
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        max-width: 100%!important;
        z-index: 10;
        padding: 0;
        @media #{$lg-layout} {
            left: 20px;
            right: 20px;
        }
        @media #{$md-layout} {
            left: 20px;
            right: 20px;
        }
        @media #{$sm-layout} {
            left: 20px;
            right: 20px;
        }

        .content-wrapper {
            margin: $marginLarge;

            .companyLogo {
                height: $logoSize;
                background-repeat: no-repeat;
                margin-bottom: $marginLargeXl;

                &.logo-1 {
                    background-image: url(/assets/images/logo/vanilla.png);
                }
            }

            .inner {
                p {
                    color: #c6c9d8;
                    font-size: 14px;
                }

                h4 {
                    font-size: $font-title;
                    line-height: $font-titleHeight;
                    text-transform: uppercase;

                    a {
                        color: $white;
                    }
                }

                .portfolio-button {
                    @extend %transition;
                    margin-top: 35px;
                    transition: 0.7s;
                    @media #{$large-mobile} {
                        margin-top: 25px;
                    }

                    a {
                        &.rn-btn {
                            color: $white;
                            border-color: rgba(255, 255, 255, 0.3);

                            &:hover {
                                border-color: $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }

    &.text-center {
        .content {
            position: absolute;
            bottom: 40px;
            left: 40px;
            max-width: 80% !important;
            z-index: 10;
            padding: 0;
            right: 40px;
            margin: 0 auto;
            @media #{$lg-layout} {
                left: 20px;
                right: 20px;
            }
            @media #{$md-layout} {
                left: 15px;
                right: 15px;
            }
            @media #{$sm-layout} {
                left: 10px;
                right: 10px;
            }
        }
    }
    &:hover{
        .thumbnail-inner{

            &::before{
                opacity: 0.85;
            }
        }
        .thumbnail {
            transform: scale(1) translateZ(0);
            &::after{
                background-color: rgba(25,25,25,.24);
            }
        }
        .bg-blr-image{
            opacity: 0;
            z-index: 9;
        }

    }
    &.portfolio-style--2{
        .inner{
            margin: 0 20px;
        }
    }
}

.details-banner {
    min-height: 100vh;
    padding-left: calc(var(--cel, 3vw) * 3);
    display: flex;
    position: relative;
    flex-wrap: wrap;

    @media #{$sm-layout} {
        padding-left: 5px;
    }
}

.introImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-boxShadow {
        width: 500px;
        height: 500px;
        position: relative;

        @media #{$sm-layout} {
            margin-top: 10px;
            width: 400px;
            height: 400px;
        }

        .video-react-controls-enabled .video-react-video {
            width: 500px;
            height: auto;
            display: flex;

            @media #{$sm-layout} {
                width: 400px;
            }
        }
    }
}

    .container-inner {
        padding-top: $marginLarge;
        padding-bottom: 0;
        width: 100%;

        @media #{$sm-layout} {
            padding-top: 0px;
        }

        h2 {
            font-weight: 500;
            font-size: 4.2em;
            line-height: 80px;
            margin-bottom: 40px;

            @media #{$sm-layout} {
                font-size: 3.5em;
            }
        }
    }

    .leftDescription {
        margin-right: $marginDefaultBig;
    }


    .video-react-controls-enabled {
        top: -150px;

        [type=button],
        .video-react-control-bar {
            display: none;
        }

        .video-react-video {
            max-height: 660px;
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            object-fit: cover;
        }
    }



.thumbnail{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    background-color: #0a0a0a;
    transform: scale(1.13) translateZ(0);
    backface-visibility: hidden;
    transition: transform .28s ease;
    z-index: 4;
    &.image-1 {
        background-image: url(/assets/images/portfolio/conversationsFeatureImage.png);
    }

    &.image-3 {
        background-image: url(/assets/images/portfolio/asusFeatureImage.png);
    }

    &.image-motovan {
        background-image: url(/assets/images/portfolio/motovanFeatureImage.png);
    }

    &.image-5 {
        background-image: url(/assets/images/portfolio/motovanCommunity.png);
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: ' ';
        z-index: 1;
        display: block;
        border-radius: 5px;
        @extend %transition;
    }
}


.portfolio-related-work {

    .col-lg-12 {
        position: absolute;
        z-index: 1;
        margin-top: 200px;

        h2 {
            color: $white;
            text-transform: uppercase;
            font-weight: 300;
        }
    }

    .thumb {
        position: relative;

        .imageRelated {

            &:before {
                content: '';
                background: #00010c;
                opacity: .7;
                height: 100%;
                width: 80%;
                position: absolute;
            }

            img {
                max-height: 400px;
                max-width: 80%;
                object-fit: cover;
            }
        }
    }

    .case-wrapper:hover {
        
        .case-title {

            &:before {
                -webkit-transform: scaleX(0);
                -moz-transform: scaleX(0);
                -ms-transform: scaleX(0);
                -o-transform: scaleX(0);
                transform: scaleX(0);
            }
        }
    }

    .case-title {
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background: currentColor;
            -webkit-transition: -webkit-transform .5s cubic-bezier(.4, .22, .21, 1.04);
            transition: -webkit-transform .5s cubic-bezier(.4, .22, .21, 1.04);
            -o-transition: -o-transform .5s cubic-bezier(.4, .22, .21, 1.04);
            -moz-transition: transform .5s cubic-bezier(.4, .22, .21, 1.04), -moz-transform .5s cubic-bezier(.4, .22, .21, 1.04);
            transition: transform .5s cubic-bezier(.4, .22, .21, 1.04);
            transition: transform .5s cubic-bezier(.4, .22, .21, 1.04), -webkit-transform .5s cubic-bezier(.4, .22, .21, 1.04), -moz-transform .5s cubic-bezier(.4, .22, .21, 1.04), -o-transform .5s cubic-bezier(.4, .22, .21, 1.04);
        }
    }
}

.portfolio-sacousel-inner ,
.rn-slick-dot {
    .slick-dots {
        bottom: -60px;
        @media #{$large-mobile} {
            bottom: -50px;
        }
        li{
            width: 30px;
            margin: 0;
            opacity: .35;
            position: relative;

            button{
                &::before{
                    display: none;
                }
                &::after{
                    background: #333;
                    width: 100%;
                    display: block;
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    @extend %transition;
                    border-radius: 50%;
                    margin-left: 11px;
                    background-color: transparent;
                    box-shadow: inset 0 0 0 5px #000;
                }
            }
            &.slick-active{
                opacity: 1;
                button{
                    &::after{
                        -webkit-transform: scale(2);
                        transform: scale(2);
                        box-shadow: inset 0 0 0 1px $theme-color;
                        background-color: transparent;
                        background-color: transparent!important;
                    }
                }
            }
        }
    }
    // Dot Light
    &.dot-light {
        .slick-dots {
            li{
                button {
                    &::after {
                        background: #ffffff;
                        box-shadow: inset 0 0 0 5px #ffffff;
                    }
                }
                &.slick-active{
                    opacity: 1;
                    button{
                        &::after{
                            -webkit-transform: scale(2);
                            transform: scale(2);
                            box-shadow: inset 0 0 0 1px $theme-color;
                            background-color: transparent;
                            background-color: transparent!important;
                        }
                    }
                }
            }
        }
    }
}

/* Slick Arrow Button  */

.portfolio-slick-activation{
    position: relative;
    button {
        &.slick-arrow {
            position: absolute;
            z-index: 3;
            background: transparent;
            font-size: 20px;
            width: 253px;
            height: 101%;

            @media #{$lg-layout} {
                width: 136px;
            }

            @media #{$md-layout} {
                width: 100px;
            }

            @media #{$sm-layout} {
                width: 100px;
                display: none !important;
            }

            &::before {
                line-height: 1;
                opacity: 0.75;
                font-size: 30px;
                position: relative;
                top: -14px;
                transition: 0.5s;
            }
            &.slick-prev{
                left: 0;
                background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
                &::before{
                    content: url(/assets/images/icons/slick-arrow-left.png);
                }
                @media #{$md-layout} {
                    display: none !important;
                }
                @media #{$lg-layout} {
                    display: none !important;
                }
                @media #{$laptop-device} {
                    display: none !important;
                }

            }
            &.slick-next{
                right: 0;
                background: -moz-linear-gradient(right,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                background: linear-gradient(to left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
                &::before{
                    content: url(/assets/images/icons/slick-arrow-right.png);
                }
                @media #{$md-layout} {
                    display: none !important;
                }
                @media #{$lg-layout} {
                    display: none !important;
                }
                @media #{$laptop-device} {
                    display: none !important;
                }
            }


            &:hover{
                &.slick-prev{
                    padding-right: 50px;

                    @media #{$md-layout} {
                        padding-right: 10px;
                    }
                    @media #{$sm-layout} {
                        padding-right: 10px;
                    }
                }
                &.slick-next {
                    padding-left: 50px;
                    @media #{$md-layout} {
                        padding-right: 10px;
                    }
                    @media #{$sm-layout} {
                        padding-right: 10px;
                    }
                }
                &::before{
                    opacity: 1;
                }
            }


        }
    }
}





