.home-intro-wrapper {

    .fullHeight > div,
    .fullHeight * div{
        height: 100vh;
    }

    .container {
        max-width: 100%;

        .video-react-controls-enabled, .video-react-video {
            padding-top: 0!important;
            max-height: 100%;
        }
    }

    .section {
        padding: 0;
    }

    .home-intro-left {
        overflow: hidden;
        z-index: 1;
        width: calc(33.33333333vw + 33px);
        position: relative;

        .home-left-title {
            position: absolute;
            top: 0;
            left: calc(100% - 33px);
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-left: 0;
        }

        .title {
            font-size: 80px;
            line-height: 100px;
            text-align: left;
            margin-bottom: 0px;
            color: $white;
            z-index: 1;
        }
    }

    .home-intro-inner {
        display: flex;
        height: 100%;
        align-items: center;

    }

    .home-left-title {
        width: calc(41.66666667vw - 33px);
        position: relative;

    }

    .title.home-intro-title-nomask {
        -webkit-transform: translateX(-33px);
        transform: translateX(-33px);
        margin-bottom: 0px;
        padding-top: 20px;
        height: 100%;
        display: flex;
        align-items: center;
    }
}
